{{#leaflet-map zoomControl=false attributionControl=false lat=40.6943221 lng=-73.93338199999999 zoom=11}}
  {{tile-layer url='https://{s}.tiles.mapbox.com/v3/edborden.02o36pf8/{z}/{x}/{y}.png'}}
  {{#each model as |event|}}
    {{#event-pin event=event lat=event.latitude lng=event.longitude}}
      <h4>
        {{event.name}}
        {{#if (gt event.healthScore 3)}}
          <span class="red">...ewe</span>
        {{/if}}
        {{#if (gt event.healthScore 8)}}
          <span class="red">FFFFILTHY!!!</span>
        {{/if}}
      </h4>
      <div class="row scores">
        <div class="col-xs-4">
          {{event.ratCount}}
        </div>
        <div class="col-xs-4">
          {{event.trashCount}}
        </div>
        <div class="col-xs-4">
          {{event.dirtyWaterCount}}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-4">
          Rats
        </div>
        <div class="col-xs-4">
          Trash
        </div>
        <div class="col-xs-4">
          Water
        </div>
      </div>
      {{#link-to 'event' event}}
        <button class="btn btn-xs btn-warning">
          Details
        </button>
      {{/link-to}}
    {{/event-pin}}
  {{/each}}
{{/leaflet-map}}